{sub_dirs, ["apps/ypages", "rel"]}.
{deps_dir, "deps"}.


{deps, [

 {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", "HEAD"}},
 {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
 {mochijson2, ".*", {git,"git://github.com/bjnortier/mochijson2.git", "HEAD"}}%,
 %{log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", "HEAD"}}

]}.
